@{
    ViewBag.Title = "Farm Details";
}
@model TripNPick.Models.FarmDetailsView

<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <link href="~/Content/demandTable.css" type ="text/css" rel="stylesheet" />

</head>


<body>
    <div class="container" style="margin-top: 50px">
        <div class="jumbotron">
            <h1>@Model.theFarm.farm_name</h1>
            <p><b>Farm Rating:</b>
                @if (Model.theFarm.farm_rating == 0)
                {
                    <span><img src="~/img/rating/empty_star.png" title="Sorry, we do not have rating for this farm yet." /></span>
                }
                else
                {
                    for (double i = 1.0; i <= Model.theFarm.farm_rating; i++)
                    {
                        if (Model.theFarm.farm_rating - i >= 0)
                        {
                            <span><img src="~/img/rating/full_star.png" title="Rating: @Model.theFarm.farm_rating" /></span>
                        }
                        else
                        {
                            <span><img src="~/img/rating/half_star.png" title="Rating: @Model.theFarm.farm_rating" /></span>
                        }
                    }
                }
            </p>
            <p><b>Address:</b> @Model.theFarm.farm_address</p>
            <div id="tabcss">
                <table id="interestsTable">
                    <thead>
                        <tr>
                            <td>Attraction Name</td>
                            <td>Rating</td>
                            <td>Address</td>
                            <td>Distance</td>
                            <td>Popularity</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.nearbyAttractions)
                        {
                            <tr>
                                <td><span><img src="@Url.Content(item.interest_type)" title="Type: @item.toolTip"></span> @item.attraction_name</td>
                                <td>@if (item.attraction_rating == 0)
                                {
                                    <span><img src="~/img/rating/empty_star.png" title="Sorry, we do not have rating for this attraction yet." /></span>
                                }
                                else
                                {
                                    for (double i = 1.0; i <= item.attraction_rating; i++)
                                    {
                                        if (item.attraction_rating - i >= 0)
                                        {
                                            <span><img src="~/img/rating/full_star.png" title="Rating: @item.attraction_rating" /></span>
                                        }
                                        else
                                        {
                                            <span><img src="~/img/rating/half_star.png" title="Rating: @item.attraction_rating" /></span>
                                        }
                                    }
                                }
                                </td>
                                <td>@item.attraction_address</td>
                                <td>@item.attraction_distance<span> km</span></td>
                                <td>@item.number_of_reviews</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div id="tabs">
            <ul>
                <li><a href="#tabs-4">Demand Details</a></li>
                <li><a href="#tabs-2">Weather Details</a></li>
                <li><a href="#tabs-3">Temparature Details</a></li>

            </ul>
            <div id="tabs-2">
                @using Highsoft.Web.Mvc.Charts

                @(Html.Highsoft().Highcharts(
                        new Highcharts
                        {
                            Title = new Title
                            {
                                Text = "Avearge Weather in Months",
                                X = -20
                            },
                            Subtitle = new Subtitle
                            {
                                Text = "Source: Government Website",
                                X = -20
                            },
                            XAxis = new List<XAxis>
                            {
                                new XAxis
                                {
                                    Categories = new List<string> { "Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" },

                                }
                            },
                            YAxis = new List<YAxis>
                            {
                                new YAxis
                                {
                                    Title = new YAxisTitle
                                    {
                                        Text = "Number of Days"
                                    },
                                    PlotLines = new List<YAxisPlotLines>
                                    {
                                            new YAxisPlotLines
                                        {
                                            Value = 0,
                                            Width = 1,
                                            Color = "#808080"
                                        }
                                    }
                                }
                            },
                            Tooltip = new Tooltip
                            {
                                ValueSuffix = "Days"
                            },
                            Legend = new Legend
                            {
                                Layout = LegendLayout.Vertical,
                                Align = LegendAlign.Right,
                                VerticalAlign = LegendVerticalAlign.Middle,
                                BorderWidth = 0
                            },
                            Series = new List<Series>
                            {
                                new LineSeries
                                {
                                    Name = "Days of Temperature under 2 Degrees",
                                    Data = @ViewData["coldData"] as List<LineSeriesData>
                                },
                                new LineSeries
                                {
                                    Name = "Days of Temperature above 30 Degrees",
                                    Data = @ViewData["hotData"] as List<LineSeriesData>
                                },
                                new LineSeries
                                {
                                    Name = "Number of Rainy Days",
                                    Data = @ViewData["rainData"] as List<LineSeriesData>
                                }
                            }
                        }, "weatherDaysChart")
                )
            </div>
            <div id="tabs-3">
                @using Highsoft.Web.Mvc.Charts
                @(Html.Highsoft().Highcharts(
                        new Highcharts
                        {
                            Title = new Title
                            {
                                Text = "Avearge Temparature in Months",
                                X = -20
                            },
                            Subtitle = new Subtitle
                            {
                                Text = "Source: Government Website",
                                X = -20
                            },
                            XAxis = new List<XAxis>
                            {
                                new XAxis
                                {
                                    Categories = new List<string> { "Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" },
                                }
                            },
                            YAxis = new List<YAxis>
                            {
                                new YAxis
                                {
                                    Title = new YAxisTitle
                                    {
                                        Text = "Temperature (°C)"
                                    },
                                    PlotLines = new List<YAxisPlotLines>
                                    {
                                            new YAxisPlotLines
                                        {
                                            Value = 0,
                                            Width = 1,
                                            Color = "#808080"
                                        }
                                    }
                                }
                            },
                            Tooltip = new Tooltip
                            {
                                ValueSuffix = "(°C)"
                            },
                            Legend = new Legend
                            {
                                Layout = LegendLayout.Vertical,
                                Align = LegendAlign.Right,
                                VerticalAlign = LegendVerticalAlign.Middle,
                                BorderWidth = 0
                            },
                            Series = new List<Series>
                            {
                                new LineSeries
                                {
                                    Name = "Temparature(°C) at 3pm",
                                    Data = @ViewData["temp3Data"] as List<LineSeriesData>
                                },
                                new LineSeries
                                {
                                    Name = "Temparature(°C) at 9am",
                                    Data = @ViewData["temp9Data"] as List<LineSeriesData>
                                }
                            }}, "temparatureChart")
                )
            </div>
            <div id="tabs-4">
                <div style="overflow-x:auto;">
                    <table class="table table-hover">
                        <thead>
                            <tr style="color:white; background: #002233">
                                <td>CROP TYPE</td>
                                <td>JAN</td>
                                <td>FEB</td>
                                <td>MAR</td>
                                <td>APR</td>
                                <td>MAY</td>
                                <td>JUN</td>
                                <td>JUL</td>
                                <td>AUG</td>
                                <td>SEP</td>
                                <td>OCT</td>
                                <td>NOV</td>
                                <td>DEC</td>
                            </tr>
                        </thead>

                        @foreach (var item in Model.demandList)
                         {
                         <tr>
                             <td style="color:darkcyan; font-weight:bold">@item.cropName</td>
                             <td class="@item.january">@item.january</td>
                             <td class="@item.february">@item.february</td>
                             <td class="@item.march">@item.march</td>
                             <td class="@item.april">@item.april</td>
                             <td class="@item.may">@item.may</td>
                             <td class="@item.june">@item.june</td>
                             <td class="@item.july">@item.july</td>
                             <td class="@item.august">@item.august</td>
                             <td class="@item.september">@item.september</td>
                             <td class="@item.october">@item.october</td>
                             <td class="@item.november">@item.november</td>
                             <td class="@item.december">@item.december</td>
                        </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $("#tabs").tabs({
                collapsible: true
            });
            $('#interestsTable').DataTable({
                "scrollY": "220px",
                "responsive": true,
                "paging": false,
                "info": false,
                "searching": false,
                "lengthChange": false,
                "displayLength": 50,
                "order": [[3, "asc"]],
                "columnDefs": [{
                    "orderable": false, "targets": 2,
                }]
            });
        });
    </script>

</body>


