@{
    ViewBag.Title = "Farm Details";
}
@model TripNPick.Models.FarmDetailsView

<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <link href="~/Content/table.css" rel="stylesheet" />

</head>


<body>
    <div class="container" style="margin-top: 50px">
        <div class="jumbotron">
            <h1>@Model.theFarm.farm_name</h1>
            <p><b>Farm Rating:</b> 
            @if (true)
            {
                for (int i = 0; i < 5; i++)
                {
                    <span><img src="~/img/rating/full_star.png"/></span>
                }
            }
            </p>
            <p><b>Address:</b> @Model.theFarm.farm_address</p>
            <div id="tabcss">
                <table id="interestsTable">
                    <thead>
                        <tr>
                            <td>Attraction Name</td>
                            <td>Rating</td>
                            <td>Address</td>
                            <td>Type</td>
                            <td>Distance</td>
                            <td>Popularity</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.nearbyAttractions)
                        {
                            <tr>
                                <td>@item.attraction_name</td>
                                <td>@item.attraction_rating</td>
                                <td>@item.attraction_address</td>
                                <td><img src="@Url.Content(item.interest_type)" alt="interest_pic"></td>
                                <td>@item.attraction_distance<span> km</span></td>
                                <td>@item.number_of_reviews</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div id="tabs">
            <ul>
                <li><a href="#tabs-2">Weather Details</a></li>
                <li><a href="#tabs-3">Temparature Details</a></li>
                <li><a href="#tabs-4">Demand Details</a></li>
            </ul>
            <div id="tabs-2">
                @using Highsoft.Web.Mvc.Charts

                @(Html.Highsoft().Highcharts(
                        new Highcharts
                        {
                            Title = new Title
                            {
                                Text = "Avearge Weather in Months",
                                X = -20
                            },
                            XAxis = new List<XAxis>
                            {
                                new XAxis
                                {
                                    Categories = new List<string> { "Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" },

                                }
                            },
                            YAxis = new List<YAxis>
                            {
                                new YAxis
                                {
                                    Title = new YAxisTitle
                                    {
                                        Text = "Number of Days"
                                    },
                                    PlotLines = new List<YAxisPlotLines>
                                    {
                                            new YAxisPlotLines
                                        {
                                            Value = 0,
                                            Width = 1,
                                            Color = "#808080"
                                        }
                                    }
                                }
                            },
                            Tooltip = new Tooltip
                            {
                                ValueSuffix = "Days"
                            },
                            Legend = new Legend
                            {
                                Layout = LegendLayout.Vertical,
                                Align = LegendAlign.Right,
                                VerticalAlign = LegendVerticalAlign.Middle,
                                BorderWidth = 0
                            },
                            Series = new List<Series>
                            {
                                new LineSeries
                                {
                                    Name = "Days of Temperature under 2 Degrees",
                                    Data = @ViewData["coldData"] as List<LineSeriesData>
                                },
                                new LineSeries
                                {
                                    Name = "Days of Temperature above 30 Degrees",
                                    Data = @ViewData["hotData"] as List<LineSeriesData>
                                },
                                new LineSeries
                                {
                                    Name = "Number of Rainy Days",
                                    Data = @ViewData["rainData"] as List<LineSeriesData>
                                }
                            }
                        }, "weatherDaysChart")
                )
            </div>
            <div id="tabs-3">
                @using Highsoft.Web.Mvc.Charts
                @(Html.Highsoft().Highcharts(
                        new Highcharts
                        {
                            Title = new Title
                            {
                                Text = "Avearge Temparature in Months",
                                X = -20
                            },
                            Subtitle = new Subtitle
                            {
                                Text = "Source: Government Website",
                                X = -20
                            },
                            XAxis = new List<XAxis>
                            {
                                new XAxis
                                {
                                    Categories = new List<string> { "Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" },
                                }
                            },
                            YAxis = new List<YAxis>
                            {
                                new YAxis
                                {
                                    Title = new YAxisTitle
                                    {
                                        Text = "Temperature (°C)"
                                    },
                                    PlotLines = new List<YAxisPlotLines>
                                    {
                                            new YAxisPlotLines
                                        {
                                            Value = 0,
                                            Width = 1,
                                            Color = "#808080"
                                        }
                                    }
                                }
                            },
                            Tooltip = new Tooltip
                            {
                                ValueSuffix = "(°C)"
                            },
                            Legend = new Legend
                            {
                                Layout = LegendLayout.Vertical,
                                Align = LegendAlign.Right,
                                VerticalAlign = LegendVerticalAlign.Middle,
                                BorderWidth = 0
                            },
                            Series = new List<Series>
                            {
                                new LineSeries
                                {
                                    Name = "Temparature(°C) at 3pm",
                                    Data = @ViewData["temp3Data"] as List<LineSeriesData>
                                },
                                new LineSeries
                                {
                                    Name = "Temparature(°C) at 9am",
                                    Data = @ViewData["temp9Data"] as List<LineSeriesData>
                                }

                            }
                        }, "temparatureChart")
                )
            </div>
            <div id="tabs-4">
                <div style="overflow-x:auto;">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <td style="background:#4c4c34; color: #fff">Crop Type</td>
                                <td>January</td>
                                <td>February</td>
                                <td>March</td>
                                <td>April</td>
                                <td>May</td>
                                <td>June</td>
                                <td>July</td>
                                <td>August</td>
                                <td>September</td>
                                <td>October</td>
                                <td>November</td>
                                <td>December</td>
                            </tr>
                        </thead>

                        @foreach (var item in Model.demandList)
                        {
                            <tr>
                                <td style="background: #e67300">@item.cropName</td>
                                <td class="cell-normal">@item.january</td>
                                <td class="cell-normal">@item.february</td>
                                <td class="cell-normal">@item.march</td>
                                <td class="cell-normal">@item.april</td>
                                <td class="cell-normal">@item.may</td>
                                <td class="cell-normal">@item.june</td>
                                <td class="cell-normal">@item.july</td>
                                <td class="cell-normal">@item.august</td>
                                <td class="cell-normal">@item.september</td>
                                <td class="cell-normal">@item.october</td>
                                <td class="cell-normal">@item.november</td>
                                <td class="cell-normal">@item.december</td>

                            </tr>
                        }
                    </table>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $("#tabs").tabs({
                collapsible: true
            });
            $('#interestsTable').DataTable({
                "scrollY": "220px",
                "responsive": true,
                "paging": false,
                "info": false,
                "searching": false,
                "lengthChange": false,
                "displayLength": 50,
                "order": [[4, "asc"]],
                "columnDefs": [{
                    "orderable": false, "targets": 2,
                }]
            });
        });
    </script>

</body>


