@model IEnumerable<TripNPick.Models.AllInterest>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>getAllInterest2</title>
</head>
<body>
    <div> 
        <table>
            <tr>
                <td>State</td>
                <td>Interest ID</td>
                <td>Interest Type</td>
                <td>Attraction Name</td>
                <td>Suburb</td>
            </tr>
            @foreach (var item in Model) {
            <tr>
                <td>@item.stateName</td>
                <td>@item.interestId</td>
                <td>@item.interestType</td>
                <td>@item.attractionName</td>
                <td>@item.suburbName</td>
            </tr>
            }
        </table>
        
    </div>
</body>
</html>
