@model IEnumerable<TripNPick.Models.CountPerState>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>getFarmCountMonthlyFiltered</title>
</head>
<body>
    <div> 
        <table>
            <tr>
                <td>State</td>
                <td>NumFarms</td>
                <td>NUMint</td>
                <td>Latitude</td>
                <td>Lonitude</td>
            </tr>
            @foreach (var item in Model) {
            <tr>
                <td>@item.stateName</td>
                <td>@item.numberOfFarms</td>
                <td>@item.numberOfInterests</td>
                <td>@item.location_lat</td>
                <td>@item.location_lng</td>

            </tr>
            }
        </table>
    </div>
</body>
</html>
