@model TripNPick.Models.UserSelections
@{
    ViewBag.Title = "Search";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/select2.min.css" />
    <script type="text/javascript" src="~/Scripts/select2.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/maps.css" />
    <script type="text/javascript">
        $(document).ready(function () {
            var months = @Html.Raw(Json.Encode(Model.cMonths));
            var interests = @Html.Raw(Json.Encode(Model.cInterests));

            var optionsM = document.getElementById('monthDD'), month, i;
            var optionsI = document.getElementById('interetsDD'), interest, i;

            for(i = 0; i < optionsM.length; i++) {
                month = optionsM[i];
                if (months.includes(month.value)){
                    month.selected = 'selected';
                }
            }
            for(i = 0; i < optionsI.length; i++) {
                interest = optionsI[i];
                if (interests.includes(interest.value)){
                    interest.selected = 'selected';
                }
            }
        });
    </script>
    <script type="text/javascript" src="~/Scripts/mapDropdown.js"></script>
    <script type="text/javascript" src="~/Scripts/mapIntsDD.js"></script>
</head>

<script type="text/javascript">
    function initMap() {

        var map = new google.maps.Map(document.getElementById('testMap'), {
            zoom: 3.9,
            center: { lat: -25.031596581410874, lng: 134.36777208750004 }
        });

        var markersVIC = [];
        var markersNSW = [];
        var markersSA = [];
        var markersWA = [];
        var markersTAS = [];
        var markersQLD = [];
        var markersNT = [];

        $.get("@Url.Action("doTheDew", "Map", new { userInput = Model.combinedString + ":VIC"})", function (data, status) {
            for (i = 0; i < data.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(data[i].farm.farm_lat, data[i].farm.farm_lng),
                    map: map
                });
                markersVIC.push(marker);
            }
            var markersVICCluster = new MarkerClusterer(map, markersVIC,
                { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });
        })

        $.get("@Url.Action("doTheDew", "Map", new { userInput = Model.combinedString + ":NSW"})", function (data, status) {
            for (i = 0; i < data.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(data[i].farm.farm_lat, data[i].farm.farm_lng),
                    map: map
                });
                markersNSW.push(marker);
            }
            var markersNSWCluster = new MarkerClusterer(map, markersNSW,
                { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });
        })

        $.get("@Url.Action("doTheDew", "Map", new { userInput = Model.combinedString + ":SA"})", function (data, status) {
            for (i = 0; i < data.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(data[i].farm.farm_lat, data[i].farm.farm_lng),
                    map: map
                });
                markersSA.push(marker);
            }
            var markersSACluster = new MarkerClusterer(map, markersSA,
                { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });
        })

        $.get("@Url.Action("doTheDew", "Map", new { userInput = Model.combinedString + ":WA"})", function (data, status) {
            for (i = 0; i < data.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(data[i].farm.farm_lat, data[i].farm.farm_lng),
                    map: map
                });
                markersWA.push(marker);
            }
            var markersWACluster = new MarkerClusterer(map, markersWA,
                { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });
        })

        $.get("@Url.Action("doTheDew", "Map", new { userInput = Model.combinedString + ":TAS"})", function (data, status) {
            for (i = 0; i < data.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(data[i].farm.farm_lat, data[i].farm.farm_lng),
                    map: map
                });
                markersTAS.push(marker);
            }
            var markersTASCluster = new MarkerClusterer(map, markersTAS,
                { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });
        })

        $.get("@Url.Action("doTheDew", "Map", new { userInput = Model.combinedString + ":QLD"})", function (data, status) {
            for (i = 0; i < data.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(data[i].farm.farm_lat, data[i].farm.farm_lng),
                    map: map
                });
                markersQLD.push(marker);
            }
            var markersQLDCluster = new MarkerClusterer(map, markersQLD,
                { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });
        })

        $.get("@Url.Action("doTheDew", "Map", new { userInput = Model.combinedString + ":NT"})", function (data, status) {
            for (i = 0; i < data.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(data[i].farm.farm_lat, data[i].farm.farm_lng),
                    map: map
                });
                markersNT.push(marker);
            }
            var markersNTCluster = new MarkerClusterer(map, markersNT,
                { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });
        })
    }
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdNjpD2meHBBiquEK62khiotrQ_4u5WpQ&callback=initMap"></script>

<body>
    <div class="container bgBorder">
        <div>
            @Html.MvcSiteMap().SiteMapPath()
        </div>

        <form action="/Map/Index" id="mapForm">
            <h4>Months: <span><input type="submit" class="btn btn-primary" value="Search" /></span></h4>
            <select id="monthDD" multiple="multiple" name="cMonths">
                <option value="January">Jan</option>
                <option value="February">Feb</option>
                <option value="March">Mar</option>
                <option value="April">Apr</option>
                <option value="May">May</option>
                <option value="June">Jun</option>
                <option value="July">Jul</option>
                <option value="August">Aug</option>
                <option value="September">Sep</option>
                <option value="October">Oct</option>
                <option value="Novenmber">Nov</option>
                <option value="December">Dec</option>
            </select>
            <h4>Interests:</h4>
            <select id="interetsDD" multiple="multiple" name="cInterests">
                <option value="Museums">Museums</option>
                <option value="Sights and Landmarks">Sights</option>
                <option value="Nature and Parks">Parks</option>
                <option value="Beaches">Beaches</option>
                <option value="Outdoor Activities and Tours">Outdoors</option>
                <option value="Nature and Wildlife Areas">Wildlife</option>
                <option value="Hiking Trails">Hiking</option>
                <option value="Fun and Games and Sports">Games/Sports</option>
                <option value="Zoos and Aquariums">Zoos/Aquariums</option>
            </select>
        </form>

        <div style="margin-top: 16px">
            @*<div class="col-lg-3">
                </div>*@

            <div id="testMap" class="col-lg-12" style="height: 600px">
            </div>
        </div>
    </div>
</body>