@model IEnumerable<TripNPick.Models.StateSuburbCount>
    <table>
        <tr>
            <td>State</td>
            <td>Number of Suburbs</td>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.stateName</td>
            <td>@item.suburbCount</td>
        </tr>
        }

    </table>

@*
    @model IEnumerable<with_map_1.Models.SuburbViewModel>
      <table>
          <tr>
              <td>Harvest ID</td>
              <td>Suburb Name</td>
              <td>Crop ID</td>
              <td>State</td>
          </tr>
          @foreach(var item in @Model)
          {
          <tr>
              <td>@item.harvestVm.suburb_harvest_id</td>
              <td>@item.suburbVm.suburb_name</td>
              <td>@item.harvestVm.crop_id</td>
              <td>@item.suburbVm.state</td>
          </tr>
          }

      </table>
*@
