@{
    ViewBag.Title = "About Us";
    ViewBag.submissionMessage = "";
}
@model TripNPick.Models.SuggestionForm

<link rel="stylesheet" type="text/css" href="~/Content/aboutus.css" />

<head>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
</head>

@*Site Map.*@
<div style="padding: 56px 0 6px 0; background-color: lightgray;">
    <div class="container">
        @Html.MvcSiteMap().SiteMapPath()
    </div>
</div>

@*If user submitted the suggestion form with valid data, we will show a success message.*@
@if (ViewData["info"].Equals("Success!"))
{
    <div class="successWarper">
        <div id="popupdiv" class="container alert alert-success alert-dismissible fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>@ViewData["info"]</strong> Thank your for your valuable suggestion, we will reply you as soon as possible.
        </div>
    </div>
}

@*If user submitted the suggestion form with invalid data, we will show a warning message with a link redirect back to the form.*@
else if (ViewData["info"].Equals("Sorry!"))
{
    <div class="warningWarper">
        <div id="popupdiv" class="container alert alert-warning alert-dismissible fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>@ViewData["info"]</strong> You did not complete the form correctly, <a href="#formSection" class="alert-link">please try it again</a>.
        </div>
    </div>
}

@*Title with a image as background.*@
<div class="section-center aboutusbg">
    <h1> Are you a backpacker? Yes? Read on... </h1>
</div>

@*A long description of the content of "About us".*@
<div class="section-center container">
    <p id="aboutDes">
        Working holiday visa is one of the most popular visas for young people like you who want to travel in Australia. In the last year, the number of incoming tourists was over 157000 from the eligible countries. As a result, the country gets a huge boost in tourism as more and more unreachable sites are becoming visible widening the Australian tourism boundaries. The visa is valid for one year and the current rules to extend the visa to second year requires 88 days of work in regional Australia, for which fruit picking is a popular choice of work.
        <br />
        <br />
        We understand that as a backpacker, it can be a daunting task to find regional farm-work while you are travelling in Australia to fulfil your working holiday visa requirements. This, while still being able to travel and look around. There are numerous options for you all over internet to find work in regional Australia. Our website only makes it much easier for you to make a decision by showing you the options that have been <i>tailor made</i> for you based on your preferred time to travel, demand of harvest jobs in your choice of states and outdoor activities that interest you.
    </p>
</div>

@*The information of team members of the cold spot team.*@
<div class="section-center ourteam">
    <h1>Our Team</h1>
    <div class="selection-img">
        <div class="col-lg-3">
            <img src="~/img/team/Weicheng.jpg" class="img-responsive"><br />
            <p>
                <b>Weicheng Chen</b>
                Masters in Information Technology
            </p>
            <img src="~/img/linkedin.png" class="img-responsive linkedin" onclick="window.location.href = 'https://www.linkedin.com/in/weicheng-chen-9b0527165/'"/>
        </div>
        <div class="col-lg-3">
            <img src="~/img/team/Nupur.jpg" class="img-responsive"><br />
            <p>
                <b>Nupur Parvan</b>
                Masters in Business Information Systems
            </p>
            <img src="~/img/linkedin.png" class="img-responsive linkedin" onclick="window.location.href = 'https://www.linkedin.com/in/nupur-parvan-a8233791/'" />
        </div>
        <div class="col-lg-3">
            <img src="~/img/team/Shazeed.jpg" class="img-responsive"><br />
            <p>
                <b>Shazeed Ahsan</b>
                Masters in Information Technology
            </p>
            <img src="~/img/linkedin.png" class="img-responsive linkedin" onclick="window.location.href = 'https://www.linkedin.com/in/shazeed-ahsan-19708b15a'" />
        </div>
        <div class="col-lg-3">
            <img src="~/img/team/Zoe.jpg" class="img-responsive"><br />
            <p>
                <b>Ying Zhong</b>
                Masters in Data <br />Sciences
            </p>
            <img src="~/img/linkedin.png" class="img-responsive linkedin" onclick="window.location.href = 'https://www.linkedin.com/in/ying-zhong-53ab28148/'" />
        </div>
    </div>
</div>

@*Form section*@
<section id="formSection">
    <div class="container">

        @*Contact details of the cold spot team.*@
        <div class="section-center col-lg-4">
            <h1>Contact Us</h1>
            <img src="~/img/Brand.png" id="contactImg" />
            <div style="text-align: left !important">
                <p><sapn><img src="~/img/contact/team.png" /></sapn><b> Team： </b>The Cold Spot</p>
                @*<p><sapn><img src="~/img/contact/phone.png" /></sapn><b> Phone： </b>(61) 0423 xxx xxx</p>*@
                <p><sapn><img src="~/img/contact/email.png" /></sapn><b> Email： </b>coldspotatmonash@gmail.com</p>
                @*<p><sapn><img src="~/img/contact/location.png" /></sapn><b> Address： </b>900 Dandenong Rd, VIC 3145</p>
                <p><sapn><img src="~/img/contact/schedule.png" /></sapn><b> Schedule： </b>Mon - Fri, 09:00 - 17:00</p>*@
            </div>
        </div>

        @*Suggestion form user can submit if they have any suggestions about the website.*@
        <div class="section-center col-lg-8">
            <h1>Suggestions</h1>
            <div style="width: 90%;">
                <p style="text-align: center">Please drop in your suggestions about the website here..</p>
            </div>

            @*Automatically generated by html helper, validation will be applied in the controller and model.*@
            @using (Html.BeginForm("AboutUS", "Home", FormMethod.Post, new { id = "theForm" }))
            {
                <div>
                    @Html.Label("First Name")
                    @Html.TextBoxFor(model => model.userFirstName, new { placeholder = "Enter your first name..", @class = "form-input" })
                    @Html.ValidationMessageFor(model => model.userFirstName, "", new { @class = "text-danger" })
                </div>
                <div>
                    @Html.Label("Last Name")
                    @Html.TextBoxFor(model => model.userLastName, new { placeholder = "Enter your last name..", @class = "form-input" })
                    @Html.ValidationMessageFor(model => model.userLastName, "", new { @class = "text-danger" })
                </div>
                <div id="emailDiv">
                    @Html.Label("Your email")
                    @Html.TextBoxFor(model => model.userEmail, new { placeholder = "Enter your email address..", @class = "form-input" })
                    @Html.ValidationMessageFor(model => model.userEmail, "", new { @class = "text-danger" })
                </div>
                <div id="suggestionDiv">
                    @Html.Label("Your Suggestion")
                    @Html.TextAreaFor(model => model.userSuggestion, new { placeholder = "Type in your suggestions here..", @class = "form-input" })
                    @Html.ValidationMessageFor(model => model.userSuggestion, "", new { @class = "text-danger" })
                </div>
                <div>
                    <button type="submit"
                            id="suggestionBtn">
                        Submit
                    </button>
                </div>
            }
        </div>
    </div>
</section>