@{
    ViewBag.Title = "About Us";
    ViewBag.submissionMessage = "";
}
@model TripNPick.Models.SuggestionForm

<link rel="stylesheet" type="text/css" href="~/Content/aboutus.css" />



<div class="container" style="padding-top:50px; width:80%">
    <div style="margin-top:16px; margin-bottom: 24px;">
        @Html.MvcSiteMap().SiteMapPath()
    </div>
    <div class="section1">
        <h1>- Our Mission -</h1>
        <h4>Find farms with jobs for you based on your interests and traveling time.</h4>
        <h1>About</h1>
        <h4 style="text-align:justify; text-justify: inter-word; padding: 0 64px;">
            Our website aims to provide solution to backpackers by helping them find farms based on demand of jobs around the time of their travel. The results displayed show the availability of work in a particular suburb, in a state along with showing probable places and activities that might interest them to help them make decisions to pursue a farm to work on.
        </h4>
    </div>

    <div class="section2">
        <h1>Team Members</h1>
        <img src="~/img/team.png" class="img-responsive center-block" />
    </div>

    <div class="section3">
        <h1>Suggestions</h1>
        <h4>If you have any suggestions for our website, please let us know. </h4>

        <div id="popupdiv" style="border: 1px solid green; color:white" class="popUp">
            @ViewData["error"]
        </div>

        @using (Html.BeginForm("AboutUS", "Home"))
    {
        <div>
            @Html.Label("First Name")
            @Html.TextBoxFor(model => model.userFirstName)
            @Html.ValidationMessageFor(model => model.userFirstName, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>
            @Html.Label("Last Name")
            @Html.TextBoxFor(model => model.userLastName)
            @Html.ValidationMessageFor(model => model.userLastName, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>
            @Html.Label("Your email")
            @Html.TextBoxFor(model => model.userEmail)
            @Html.ValidationMessageFor(model => model.userEmail, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>
            @Html.Label("Your Suggestion")
            @Html.TextAreaFor(model => model.userSuggestion)
            @Html.ValidationMessageFor(model => model.userSuggestion, "", new { @class = "text-danger" })
        </div>
        <br />
        <div>
            <button type="submit"
                    id="submitButton"
                    class="btn btn-primary">
                Submit
            </button>
        </div>





}



        @*<asp:form runat="server" >
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">

            <label for="email">Your Email</label>
            <input type="email" id="email" name="email" placeholder="Your email address..">



            <label for="subject">Suggestions</label>
            <textarea id="subject" name="subject" placeholder="Any suggestions.." style="height:200px"></textarea>

            <input id="suggestionBtn" onClick="alert('Thanks for your suggestions!')" type="submit" value="Submit">
        </asp:form>*@
    </div>


</div>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

    @*<script>
        $(document).ready(function () {
            $("#submitButton").click(function (event) {
                event.preventDefault();
                if ($("form").valid()) {
                    alert("Valid");
                    /* Add code for Ajax post */
                }

            });
        });
</script>*@

@*<script type="text/javascript">
        function DisplayProgressMessage(ctl, msg) {
            // Turn off the "Save" button and change text
            $(ctl).prop("disabled", true).text(msg);
            // Gray out background on page
            $("body").addClass("submit-progress-bg");

            // Wrap in setTimeout so the UI can update the spinners
            setTimeout(function () {
                $(".submit-progress").removeClass("hidden");
            }, 1);

            return true;
        }
    </script>*@


