@model TripNPick.Models.ExpList

@{
    ViewBag.Title = "Results";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/results.css" />
</head>
<body>
    <div class="container" style="overflow-x:auto; padding: 100px 0;">
        <table style="width:100%" class="resutlTable" id="farms">
            <tr>
                <th>Name</th>
                <th>Details</th>
                <th>Interets</th>
                <th>More</th>
            </tr>
            @foreach (var farm in Model.farms.a)
            {
                <tr>
                    @if (farm.farm_name != null & !farm.farm_name.Equals(""))
                    {
                        <td width="30%">
                            <p>@farm.farm_name</p>
                            <p>Rating: @farm.rating</p>
                        </td>
                    }
                    else
                    {
                        <td width="25%">Unknow</td>
                    }
                    <td width="30%">
                        @if (farm.address != null & !farm.address.Equals(""))
                        {
                            <p>Address: @farm.address</p>
                        }
                        else
                        {
                            <p>Address: Unknow</p>
                        }
                        <p>Address: @farm.distance Km</p>
                    </td>
                    <td width="30%">
                        @for (int i = 0; i < Model.intersts.a.Count; i++)
                        {
                            if (farm.Interest_place_ID == Model.intersts.a[i].Interest_place_ID)
                            {
                                <p>Interest Address: @Model.intersts.a[i].place_of_interest</p>
                                <p>Interest Type: @Model.intersts.a[i].interest_type</p>
                                <p>Interest Rating: @Model.intersts.a[i].rating</p>
                                i += 9999;
                            }
                        }
                    </td>
                    <td>
                        <input type="submit" class="btn" value="Details" style="background-color: #4CAF50; color: white"/>
                    </td>
                </tr>
            }
        </table>
    </div>

</body>
</html>
