@model TripNPick.Models.DropdownList

@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trip&Pick</title>

</head>

<body>
    <section id="home" class="container-fluid homeBG text-white space-xlg" style="padding-top:200px;padding-bottom:400px">
        <div class="container">
            <div class="row text-center justify-content-center section-intro">
                <div class="col-12 col-md-10 col-lg-8">
                    <h1 class="display-3">Trip & Pick</h1>
                    <span class="lead">
                        Based on your interests,
                        we will help you to find the most suitable farm.
                    </span>
                </div>
            </div>

            <div class="row justify-content-center">

                @*<div class="col-12 col-md-10 col-lg-8">
                    <form class="card card-sm">
                        <div class="card-body row no-gutters align-items-center">
                            <div class="col-sm-5">
                                <div class="dropdown">
                                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-btn" data-toggle="dropdown">
                                        Interests
                                    </button>
                                    <ul class="dropdown-menu dropdown-btn" id="interestList">
                                        @foreach (var i in Model.interests)
                                        {
                                            <li class="dropdown-cb">
                                                <div class="checkbox">
                                                    <input type="checkbox" id="@i.interestsID" checked="@i.ischecked" />
                                                    <label for="@i.interestsID">@i.interestsName</label>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="dropdown">
                                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-btn" data-toggle="dropdown">
                                        States
                                    </button>
                                    <ul class="dropdown-menu dropdown-btn" id="statesList">
                                        @foreach (var i in Model.states)
                                        {
                                            <li class="dropdown-cb">
                                                <div class="checkbox">
                                                    <input type="checkbox" id="@i.statesID" checked="@i.ischecked" />
                                                    <label for="@i.statesID">@i.statesName | (@i.statesShortName)</label>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-success dropdown-btn" onclick="QuestResults()">Search</button>
                            </div>
                        </div>
                    </form>
                </div>*@
            </div>
        </div>
    </section>

    <section id="info" class="container-fluid bg-gray" style="padding-top:120px;padding-bottom:250px">
        <div class="container">
            <div class="row text-center justify-content-center section-intro">
                <div class="col-12 col-md-10 col-lg-8">
                    <div style="margin-bottom:75px">
                        <h1 class="display-3">Info U May Want To Know</h1>
                        <br />
                        <span class="lead">
                            May force be with you!
                        </span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-container">
                    <div class="col text-white">
                        <div class="paymentBG">
                            <h2>Column 1</h2>
                            <p>Hello World</p>
                        </div>
                    </div>

                    <div class="col text-white">
                        <div class="taxBG">
                            <h2>Column 2</h2>
                            <p>Hello World!</p>
                            <p>Hello World!</p>
                            <p>Hello World!</p>
                            <p>Hello World!</p>
                        </div>
                    </div>

                    <div class="col text-white">
                        <div class="rightsBG">
                            <h2>Column 3</h2>
                            <p>Some other text..</p>
                            <p>Some other text..</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</section>
</body>


</html>