@model TripNPick.Models.FarmsJson

@{
    ViewBag.Title = "Results";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/results.css" />
</head>
<body>
    <div class="container" style="overflow-x:auto; padding: 100px 0;">
        <table style="width:100%" class="resutlTable" id="farms">
            <tr>
                <th>Name</th>
                <th>Details</th>
                <th>Interets</th>
                <th>More</th>
            </tr>
                @foreach (var farm in Model.results)
                {
                    <tr>
                        @if (farm.name != null & !farm.name.Equals(""))
                        {
                            <td width="30%">
                                <p>@farm.name</p>
                                @if (farm.rating != null)
                                {
                                    <p>Rating: @farm.rating</p>
                                } else
                                {
                                    <p>Rating: Unknow</p>
                                }
                            </td>
                        } else
                        {
                            <td width="25%">Unknow</td>
                        }
                        <td width="30%">
                        @if (farm.vicinity != null & !farm.vicinity.Equals(""))
                        {
                            <p>Address: @farm.vicinity</p>
                        } else
                        {
                            <p>Address: Unknow</p>
                        }
                        @*@if (farm.geometry != null & farm.geometry.location != null & farm.interest.geometry != null & farm.interest.geometry.location != null)
                        {
                            <p>Address: </p>
                        }
                        else
                        {
                            <p>Distance: Unknow</p>
                        }*@
                        </td>
                        <td width="30%">
                            @if (farm.interest.name != null & !farm.interest.name.Equals(""))
                            {
                                <p>Interest: @farm.interest.name</p>
                            } else
                            {
                                <p>Interst: Unknow</p>
                            }
                            <p>Type: @farm.interest.actualType</p>
                            @if (farm.interest.rating != null)
                            {
                                <p>Rating: @farm.interest.rating</p>
                            } else
                            {
                                <p>Rating: Unknow</p>
                            }
                        </td>
                        <td>
                            <button>More Details</button>
                        </td>
                    </tr>
                }
        </table>
    </div>

</body>
</html>
